body {
  background-color: rgb(163, 159, 159);
}
.calc {
  margin: auto;
  background-color: black;
  border: 2px solid whitesmoke;
  width: 24%;
  height: 600px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px;
}
.maininput {
  background-color: black;
  border: 1px solid grey;
  height: 125px;
  width: 98.2%;
  font-size: 80px;
  color: whitesmoke;
  font-weight: 500;
}
.numbtn {
  padding: 30px 35px;
  border-radius: 50px;
  font-weight: 500;
  font-size: large;
  background-color: grey;
}
.numbtn:hover {
  background-color: rgb(169, 169, 169);
  color: whitesmoke;
}
.calbtn {
  padding: 30px 35px;
  border-radius: 50px;
  font-weight: 500;
  font-size: large;
  background-color: orange;
}
.calbtn:hover {
  background-color: rgb(211, 140, 7);
  color: whitesmoke;
}
.c {
  padding: 30px 35px;
  border-radius: 50px;
  font-weight: 500;
  font-size: large;
  background-color: red;
}
.c:hover {
  background-color: rgb(188, 16, 16);
  color: whitesmoke;
}
.equal {
  padding: 30px 35px;
  border-radius: 50px;
  font-weight: 500;
  font-size: large;
  background-color: rgb(8, 181, 8);
}
.equal:hover {
  background-color: green;
  color: whitesmoke;
}
